<ion-content>
  <div style="background-color: #fff; padding: 10px;margin-top: 50px;">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, spaceBetween: 12}" #slideOne id="slideOne">
      <ion-slide *ngFor="let card of [1,2,3]" style="width: 150px; height: 200px;">
        <ion-col>
          <ion-img style="pointer-events:none" src="https://via.placeholder.com/150"></ion-img>
          <ion-label>{{ card }}</ion-label>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="message">
    <h2 class="titulo">Los servicios mas solicitados</h2>
    <h3 class="subtitulo">Tu negocio puede aparecer aquí</h3>
  </div>

  <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, autoplay:true, loop:true,initialSlide:1 }" #slideTwo
    pager>
    <ion-slide *ngFor="let card of [1,2,3]" style="width: 300px; height: 250px; border: 2px solid #f8f8f8">
      <ion-col>
        <ion-img style="pointer-events:none" src="https://via.placeholder.com/500x300"></ion-img>
      </ion-col>
    </ion-slide>
  </ion-slides>


  <ion-segment value="list" mode="md">
    <ion-segment-button value="list">
      <ion-label>Limpieza</ion-label>
    </ion-segment-button>
    <ion-segment-button value="card">
      <ion-label>Otros</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-row>
    <ion-list>
      <ion-item-sliding *ngFor="let data of commerceList |async">
        <ion-item (click)="goToDetails(data.id)">
          <ion-card>
            <img [src]="data.ImageUrl">
            <h3 class="centered wrap-text"> {{data.Name}} </h3>
          </ion-card>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ion-row>


</ion-content>
