<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="a">
        <img src="../../../../assets/icon/logo.png" alt="">
        <h1>¿Quienes sómos?</h1>
        <div class="texto">
          Sección verde es una app especialista
          en clasificados online México
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="a">
        <img src="../../../../assets/icon/limp1.jpg" alt="">
        <div class="texto">
          La cual ofrece servicios basados en
          tecnologías para conectar compradores
          con vendedores y facilitar transacciones.
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="a">
        <img src="../../../../assets/icon/limp2.jpg" alt="">
        <div class="texto">
          Desde ofertas de trabajo, servicios, bienes
          de consumo y más
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
