<ion-content>
  <div class="a">
    <ion-item>
      <ion-img src="https://placeimg.com/500/340/any"></ion-img>
      <div class="caption-overlay bg-gradient"></div>
      <div class="bottom-text">
        <h2> {{itemData.Direction}} </h2>
        <h4> {{itemData.Contact}} </h4>
      </div>
    </ion-item>
  </div>
  <div class="b">
    <h3> {{itemData.Name}} </h3>
    <app-rating [(rating)]="rating" class="stars"></app-rating>
  </div>
  <div class="c">
    <div class="sec">
      <ion-button size="large" class="bn-space" *ngFor="let a of ['Contacto','Facebook','9211237439']"> {{a}} </ion-button>
    </div>
  </div>
  <div class="d">
    <div id="mapId" style="height:200px"></div>
    <ion-item style="cursor: pointer" (click)="locatePosition()">
      <ion-button fill="clear">
        <ion-icon slot="start" name="map"></ion-icon>
        Mi posición
      </ion-button>
    </ion-item>

  </div>

</ion-content>
