@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

ion-content{
  --ion-background-color: #0D9330;
}

#container {
  text-align: center;

  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
  top: 10%;

  .title {
    position: relative;
    top: 15%;

    .logoimg{
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .buttons {
    position: relative;
    top: 40%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    --color:#000;
    ion-button {
      background: #fff;
      font-family: Lato, sans-serif;
      color: #1d1d1d;
      font-size: 1.7em;
      padding: .6rem;
      border: 0;
      transition: all 0.5s;
      border-radius: 20px;
      position: relative;
      height: 1.8em;
    }
  }
}
