<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="title">
      <ion-img src="assets/logo.png" class="logoimg"></ion-img>
    </div>
    <div class="buttons">
      <ion-button expand="block" color="black" fill="clear" mode="ios" (click)="goTo('login')">Iniciar sesion</ion-button>
      <ion-button expand="block" color="black" fill="clear" mode="ios" (click)="goTo('register')">Registrarse</ion-button>
      <ion-button expand="block" color="black" fill="clear" mode="ios" (click)="signInAnon()">Saltar</ion-button>
    </div>
  </div>
</ion-content>
